<div class="jumbotron">
  <h1>Word Count</h1>
  <p>Enter a word and enter a sentence to see how many times the word appears in the sentence!</p>
</div>
<form action="/counter-form">
  <div class="form-group">
     <label for="input_word">Word:</label>
     <input id="input_word" name="input_word" class="form-control" type="text">
  </div>
  <div class="form-group">
     <label for="input_sentence">Sentence:</label>
     <input id="input_sentence" name="input_sentence" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-info">Count Word!</button>
</form>
