<div class="container">
  <div class="jumbotron">
    <h1>Word Count= <%= @counter_output %></h1>
  </div>
  <a href="/"><button type="button" id="replay" name="replay" class="btn btn-danger btn-lg">Try Again!</button></a>
</div>
